@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;600&display=swap');


body{
    display: flex;
    justify-content: center;
}
main{
    width: 1000px;
    height: 700px ;
    display: flex;
    flex-direction: column;
    align-content:space-between;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 496px;
    height: 305px;
    margin: 0 auto;
}
h1{ 
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 35px;
    margin-top: 50px;
    color:  #FF2253;
}
p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 26px 0;
}
a{
    font-family: 'Inter', sans-serif;
    text-decoration:none;
    color:#0CA678;
    cursor: pointer;
    font-size: 16px;
    text-transform:uppercase;
}
input{
    width: 490px;
    height: 40px;
    border-bottom: 15px;
    padding: 3px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 25px;
}
button{
    border-radius: 32px;
    width: 240px;
    height: 52px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: #FF2253;
    color: #F8F9FA;
    border: 1.5px solid #FF2253;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

/* || pop up de erro*/
.popUpErro {
    width: 330px;
    height: 135px;

    position:absolute;
    right: 0;
    bottom: 0; 

    display: flex;
    flex-direction: column;

    border-radius: 8px; 
    border-bottom: solid 8px #FF2253;
    background-color: #FFFFFF;
}

.tituloPopUp {   
    border-radius: 8px;

    background-color: #F8F9FA;

    font-family: 'Poppins';
}

.respostaPopUp {  
    font-family: 'Poppins';
    color: #212529;
    margin: 15px 20px ;
}

.fadeOutPopUp {
    opacity: 0;
    transition: opacity .5s ease-in;
}

@media screen and (max-width: 375px) {
    main{
        width: 300px;
        height: 300px ;
        display: flex;
        flex-direction: column;
        align-content:space-between;
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 180px;
        height: 305px;
        margin: 0 auto;
    }
    h1{ 
        font-family: 'Inter', sans-serif;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 50px;
        margin-top: 50px;
        color:  #FF2253;
    }
    input{
        width: 190px;
        height: 40px;
        border-bottom: 15px;
        padding: 3px;
        font-size: 14px;
        font-weight: 300;
        border-radius: 6px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 25px;
    }
    button{
        border-radius: 32px;
        width: 140px;
        height: 52px;
        font-weight: 600;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        background-color: #FF2253;
        color: #F8F9FA;
        border: 1.5px solid #FF2253;
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: 10px;
    }
 

}