/* || Modal */
.modalCarrinho {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* || Header */
header{
    width: 100%;
}

nav{
    z-index: 5;

    height: max-content;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px -18px rgba(0, 0, 0, 0.25);

    display: flex;

    justify-content: space-between;
    align-items: center;

    flex-direction: column;
}

.logoKenzie{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;

    color: #212529;
}

.logoFood{
    font-weight: 700;
    font-size: 16.2712px;
    line-height: 24px;

    color: #FF2253;      
}

.containerPesquisarLogar{
    display: flex;

    justify-content: space-between;
    align-items: center;

    flex-direction: column;
}



/* || Icons */

.inputPesquisarProduto{
    width: 342px;
    height: 49px;

    border: 1.5px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 12px;

    padding-left: 35px;
    background: url("../img/magnifying-glass-solid.svg") no-repeat #E9ECEF;
    background-position-x: 10px;
    background-position-y: center;
    background-size: 15px;
}

.iconMargin{
    margin-right: 15px;
}

.iconMargin4x{
    margin: 15px;
}

/* || Buttons */

.btnlogin{
    width: 342px;

    margin-top: 10px;
    margin-bottom: 10px;
}


/* || Main */

main{
    width: 100%;
    
}

.containerFiltros{
    display: flex;

    justify-content: left;
    align-items: center;

    flex-direction: row;

    margin-top: 25px;
    margin-left: 10px;
}
.containerVitrine{
    padding: 10px;
}

.listaProdutos{
    display: flex;

    justify-content: left;
    align-items: center;

    flex-direction: row;

    margin-top: 25px;
    min-width: 692px;
}

.containerCardProduto{
    margin-right: 43px;
}




/* || Carrinho */

.sidebar {
    position: sticky;
    top: 200px;

    z-index: 0;
    
}

.containerCarrinho{
    position: fixed;
    bottom: -538px;

    width: 320px;
    height: 583px;

    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    background: #FFFFFF;
}

.containerHeaderCarrinho{
    width: 320px;
    height: 56px;

    padding: 10px;

    font-size: 16px;

    color: #FFFFFF;

    background: #FF2253;
    border-radius: 8px 8px 0px 0px;
}

.listaProdutosCarrinho {
    overflow-y: auto;
    overflow-x: hidden;

    height: 100%;
    width: 100%;

    padding: 15px;

}

.containerHeaderCarrinho i{
    margin-top: 10px;
    margin-left: 8px;
}

.containerQuantidadeCarrinho{
    text-align: center;
    height: 58px;
    width: 320px;

    background: #F8F9FA;
}

.containerTotalCarrinho{
    text-align: center;
    height: 58px;
    width: 100%;

    background-color: #FFFFFF;
}

.produtoCarrinhoContainer{
    width: 300px;
    height: 84px;
    display: flex;
}

.containerImagemProdutoCarrinho{
    width: 70px;
    height: 70px;

    border-radius: 8px;
}

.containerDetalhesProdutoCarrinho{
    width: 218px;
    height: 83px;
}


.footerCarrinho{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

/* || Card Produto */

.marginTopBottom10px{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 376px){

    /* || Header Desktop*/

    header{
        position: fixed;
        top: 0;
    }
    .containerCardProduto{
        display: flex;
    }

    nav{       
        flex-direction: row;
    }

    .containerLogo{
        margin-left: 100px;
    }

    .containerPesquisarLogar{
        margin-right: 100px;
        flex-direction: row;
    }
    
    .inputPesquisarProduto{
        width: 312px;
    }

    /* || Buttons*/

    .btnlogin{
        width: 100%;
        margin-left: 10px;
    }

    /* || Main */

    .listaProdutos{
        flex-wrap: wrap;
        
    }
    .containerFiltros{
        margin-top: 100px;
        margin-left: 100px;
    }
    /* || Aside */

    .containerCarrinho{
        position: sticky;
        top: 77;

        width: 320px;
        height: 352px;

        display: flex;

        align-items: center;
        justify-content: center;

        background: #FFF;    

        border-radius: 0px 0px 12px 12px;
    }

    .containerCarrinhoVazio {
        background: #F8F9FA;  
    }

    .containerHeaderCarrinho{
        position: absolute;    
        top: -56px;
    }

    .containerProdutosCarrinho{
        display: flex;

        flex-direction: column;

        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .containerVitrine{
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        padding: 50px 100px;
    }    

}

/**/
@media (max-width: 375px) {
    main{
        width: 375px;
    }

    .containerLogo{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .logoFood{
        margin-top: 5px;
    }

    .containerPesquisarLogar{
        width: 375px;
        height: 90px;
        display: flex;
        justify-content: center;

    }
    .containerLogo.span{
        font-size: 14px;
    }
    .inputPesquisarProduto{
        width: 150px;
        height: 30px;
        font-size: 11px;
    }
    .containerHeaderProduto img{
        width: 200px;
        margin-left: 40%;
    }
    .btnPrincipal{
        width: 150px;
        height: 30px;
    }
    .containerFiltros{
        width: 100%px;
        display: flex;
        margin: 5px;
        
    }
    .btnProdutoCategoria{
        width: 100px;
        height: 15px;
        padding: 3px;
        font-size: 12px;
        margin: 0;

    }


    .iconMargin{
        margin-right: 5px;
        width: 15px;
    }
    .containerVitrine{
        width: 375px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .containerCardProduto{
        width: 370px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .listaProdutos{
        width: 375px;
        display: flex;
    }
    .containerDetalhesProduto{
        display: flex;
        flex-direction: column;
    }
    .containerDetalhesProduto h1{
        font-size: 14px;
        margin: auto;
    }
    .containerDetalhesProduto {
        font-size: 10px;
    }
    .marginTopBottom10px{
        font-size: 12px;
        padding: 5px;
        margin: 5px;
    }
    .footerCarrinho{
        width: 375px;
        height: 40px;
    }
    .btnCarrinho {
        margin-right: 35px;
    }
}
