@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


/* || Fonts */

body{
    font-family: 'Poppins';

    font-weight: 400;
    font-size: 14px;
}

h1{
    font-size: 16px;
    font-weight: bold;
}

h2{
    font-size: 14px;
    font-weight: bold;
}

h3{
    font-size: 12px;
    font-weight: bold;

}

p{
    font-size: 12px;
    font-weight: 400;
}

span{
    font-size: 10px;
    font-weight: 400;
}


/* || Buttons */

button{
    cursor: pointer;
}

.btnPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;

    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;

    height: 48px;

    color: #212529;

    background: #F8F9FA;

    border: 1.5px solid #F8F9FA;
    box-sizing: border-box;
    border-radius: 30px;
}

.btnPrincipal:hover{
    color: #FFFFFF;

    background: #FF2253;
}

.btnVermelho{
    color: #FFFFFF;
    background: #FF2253;

    border: 1.5px solid #FF2253;
}

.btnProdutoCategoria{
    margin-right: 28px;

    color: #212529;
}

.btnProduto1{
    background: #EEF6FF;

    border: 1.5px solid #EEF6FF;
}


.btnProduto2{
    background: #FFF7F4;

    border: 1.5px solid #FFF7F4;
}

.btnProduto3{

    background: #FFF1F4;

    border: 1.5px solid #FFF1F4;
}

.btnProduto4{
    background: #F3EEF5;;

    border: 1.5px solid #F3EEF5;;
}

.btnCarrinho{
    width: 38px;
    height: 38px;

    color: #0CA678;

    background: #E4F7EF;

    border: 1.5px solid #E4F7EF;
    border-radius: 38px;
}

.btnCarrinho:hover{
    color: #FFFFFF;

    background: #0CA678;
}

.btnRemoverCarrinho{
    z-index: 0;

    width: 25px;
    height: 25px;

    color: #868E96;

    background: #F8F9FA;
    border-radius: 4px;
}

/* || Cards */

.containerCardProduto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 303px;
    height: 397px;
}

.containerHeaderProduto{
    border: 3px solid #FFE9EE;
    box-sizing: border-box;
    border-radius: 8px
}

.containerHeaderProduto:hover{
    border: 3px solid #FF2253;
}

.containerDetalhesProduto{
    height: 173px;
}

